<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.xuender.ethics.app">

    <application
        android:name=".EthicsApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".five.FiveActivity"
            android:label="@string/five"
            android:icon="@drawable/ic_five" />
        <activity
            android:name=".notes.ZhiActivity"
            android:label="@string/zhi"
            android:icon="@drawable/ic_zhi" />
        <activity
            android:name=".notes.YiActivity"
            android:label="@string/yi"
            android:icon="@drawable/ic_yi" />
        <activity
            android:name=".game.GameActivity"
            android:label="@string/game"
            android:icon="@drawable/ic_game" />
        <activity
            android:name=".sex.SexActivity"
            android:label="@string/sex"
            android:icon="@drawable/ic_tj" />
        <activity
            android:name=".call.CallActivity"
            android:label="@string/call"
            android:icon="@drawable/ic_call" />
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/setting"
            android:icon="@drawable/ic_menu_manage" />
        <activity android:name=".book.BookActivity" />

        <receiver android:name=".call.CallReceiver">
            <intent-filter>
                <action android:name="me.xuender.ethics.app.call" />
            </intent-filter>
        </receiver>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>